DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
DATASOURCE_PASSWORD=some-datasource-password
DATASOURCE_URL=some-datasource-url
DATASOURCE_USERNAME=some-datasource-username
SECRET_KEY=some-secret-key